 body {
    background-color:#F2F8FF; 
 }

/* Style de la  navigation */
.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 30px 100px 0px 100px;
  background-color: #f8fbff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  border-radius: 0 0 12px 12px;
  font-family: Arial, sans-serif;
}

/* Partie gauche  */
.nav-left {
  display: flex;
  align-items: center;
}

.nav-right {
  display: flex;
  gap: 19px;
}

.logo {
  height: 75px;
  margin-right: 23px;
}

.brand {
  font-weight: bold;
  font-size: 23px;
}

/* Partie droite (liens) */
.nav-right a {
  margin-left: 20px;
  text-decoration: none;
  color: #007bff;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-right a:hover {
  color: #0056b3;
}


.txt_station{
  font-size: 0.680rem;
}
