<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Hub'eau - Stations de mesure{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body class="bg-gray-50">
    <header>
            <nav class="navbar">
                <div class="nav-left">
                    <img src="{{ url_for('static', filename='hubleau_logo.png') }}" alt="Logo HUBLEAU" class="logo">
                    <span class="brand">HUBLEAU</span>
                </div>
                <div class="nav-right">
                    <a href="{{ url_for('index') }}">Accueil</a>
                    <a href="{{ url_for('recherche_filtre') }}"">Recherche filtré</a>
                    <a href="#">Contact</a>
                </div>
            </nav>

    </header>
<!-- Contenu principal -->
    <main>
        {% block content %}{% endblock %}
    </main>

<!-- Footer -->
    <footer class="bg-white border-t border-gray-200 mt-12">
        <div class="max-w-7xl mx-auto py-8 px-4 sm:px-6 lg:px-8">
            <div class="text-center text-gray-600">
                <p>&copy; 2024 Hub'eau - Données hydrométriques de France</p>
                <p class="text-sm mt-2">Données fournies par l'API Hub'eau</p>
            </div>
        </div>
    </footer>
</body>
</html>
