
<!DOCTYPE html> 
    <html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Page d'accueil</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        {% include 'nav.html' %}
    
    <h1>Liste des stations</h1>
    <ul>
        {% for station in stations %}
            <li>
                <strong>{{ station.nom }}</strong> ({{ station.code }}, {{ station.commune }})<br>
                {% if station.valeur %}
                    <em>Dernière mesure :</em> {{ station.valeur }} {{ station.grandeur }} ({{ station.date }})
                {% else %}
                    <em>Pas de mesure disponible</em>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    {% include 'pagination.html' %}
</body>
</html>
