<header>
            <nav class="navbar">
                <div class="nav-left">
                    <img src="{{ url_for('static', filename='hubleau_logo.png') }}" alt="Logo HUBLEAU" class="logo">
                    <span class="brand">HUBLEAU</span>
                </div>
                <div class="nav-right">
                    <a href="#">Accueil</a>
                    <a href="#">Recherche filtré</a>
                    <a href="#">Contact</a>
                </div>
            </nav>

</header>