<div class="pagination">
    <span class="pagination-text">Page</span>

    {% if page > 1 %}
        <a href="/?page={{ page - 1 }}" class="arrow">◀</a>
    {% endif %}

    {# Page 1 #}
    <a href="/?page=1" class="page-num {% if page == 1 %}active{% endif %}">1</a>

    {% if page > 3 %}
        <span class="dots">...</span>
    {% endif %}


    {% if page > 2 %}
        <a href="/?page={{ page - 1 }}" class="page-num">{{ page - 1 }}</a>
    {% endif %}

    {% if page != 1 and page != 10 %}
        <span class="page-num active">{{ page }}</span>
    {% endif %}


    {% if stations|length == 20 and page + 1 < 10 %}
        <a href="/?page={{ page + 1 }}" class="page-num">{{ page + 1 }}</a>
    {% endif %}


    {% if page < 8 %}
        <span class="dots">...</span>
    {% endif %}

    {% if page < 10 %}
        <a href="/?page=10" class="page-num {% if page == 10 %}active{% endif %}">10</a>
    {% endif %}


    {% if stations|length == 20 %}
        <a href="/?page={{ page + 1 }}" class="arrow">▶</a>
    {% endif %}
</div>
